/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PPEditorialNew';
	src: url('/PPEditorialNew-Variable.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'PPEditorialNew';
	src: url('/PPEditorialNew-ItalicVariable.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
}
